@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap");
@import "tailwindcss";

*{
    font-family: "satoshi";
}

@theme{
    --color-primary: #1A1A40;
    --color-accent: #AAABBC;
    --color-secondary: #D3D5D4;
    --color-back: #A259FF;
    
}

